<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FORMULARIOS.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm main-color box-shadow py-2"
            <div class="container-fluid px-3">
                <div class="d-flex align-items-center">
                    <img src="~/imagenes/logo.png" class="whirl-esp" style="width: 60px" />
                    <p class="text-main mb-0 mb-2 fw-semibold h4">Whirlpool Rewards</p>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto d-flex align-items-center gap-3">
                        <li class="nav-item">
                            <a class="nav-link nav-custom">
                                <img src="~/imagenes/home.png" />
                                <span>Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-custom" asp-controller="Home" asp-action="Site_Ximena" >
                                <img src="~/imagenes/perfil.png" />
                                <span>Perfil</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-custom">
                                <img src="~/imagenes/juego.png" />
                                <span>Juego</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-custom">
                                <img src="~/imagenes/tokens.png" />
                                <span>Wirl-Tokens</span>
                            </a>
                        </li>
                        <!-- ACTIVO -->
                        <li class="nav-item">
                            <a class="nav-link nav-custom derecha"  asp-controller="Home" asp-action="Formularios">
                                <img src="~/imagenes/formularios.png" />
                                <span>Formularios</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--footer class="border-top footer text-muted">
        <div class="container main-color">
            &copy; 2026 - FORMULARIOS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
